 body {
            font-family: sans-serif;
            /*display: flex;*/
            /*height: 15%;*/

            margin: 0; /* Elimina el margen por defecto del body */
            padding: 0; /* Elimina el padding por defecto del body */
        }

        .header  {
            text-align: center;
            width: 100%; /* Define el ancho deseado para tu div */
            height: 15%;
            margin: 0 auto;
            /*padding: 20px;*/
            background-color: #f0f0f0;



        }

        .header img {
            max-width: 100px;
             position: absolute;
             left:1%;
             top:0;



        }

        .container {
            display: flex;
            height: calc(100% - header_height); /* Adjust height calculation */
        }

        .video-container {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .turnos-container {
            width: 300px; /* Adjust width as needed */
            padding: 20px;
            display: flex;
            flex-direction: column;
            border-left: 1px solid #ccc;
        }

        .turno-actual {
            text-align: center;
            margin-bottom: 20px;
            color:red;
        }

        .cola-turnos {
            overflow-y: auto;
            max-height: 400px; /* Adjust max-height as needed */
        }

        .cola-turnos ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .cola-turnos li {
            padding: 5px;
            border-bottom: 1px solid #eee;
        }

 footer{
      position:absolute;

      left:0%;
      top: 90%;
      width: 100%; /* Define el ancho deseado para tu div */
      height: bottom;
      background-color: grey !important;
      color: white;
      }

